h1 Add new Article

form(method="POST" , action="/users")
 p FirstName:
   input#title(type="text" , name="fname")
 p LastName:
   input#body(type="text" , name="lname")
 
 p: button(type="submit") Add New User